.container {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
}

.box {
  border-radius: 20px;
  background: #efefef;
  margin: auto;
  width: 500px;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog {
  color: #44b06f;
  font-family: "Pretendard Variable";
  font-size: 34px;
  font-weight: 700;
  margin: 8%;
}

.blogContainer {
  border-radius: 20px;
  background: #d8d8d8;
  width: 450px;
  margin: 20px;
}

.blogTitle {
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-weight: 700;
  margin: 5%;
}

.blogText {
  color: #4d4d4d;
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin: 5%;
}

.notice {
  color: #282f58;
  font-family: "Pretendard Variable";
  font-size: 34px;
  font-weight: 700;
  margin: 8%;
}

.noticeContainer {
  border-radius: 20px;
  background: #d8d8d8;
  width: 450px;
  font-family: "Pretendard Variable";
  margin: 10px;
}

.noticeText {
  margin: 5%;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
}

.verLine {
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  height: 100vh;
  background: rgb(99, 99, 99);
}

.inputContainer {
  position: relative;
  width: 450px;
}

.inputTitle {
  margin-top: 10px;
  width: 310px;
  min-height: 20px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 60px 10px 15px;
  resize: vertical; /* ✅ 사용자가 세로 방향으로만 크기 조절 가능 */
}

.inputMsg {
  width: 310px;
  min-height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px 60px 10px 15px;
  resize: vertical; /* ✅ 사용자가 세로 방향으로만 크기 조절 가능 */
}

.sendBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px; /* ✅ 오른쪽 정렬 */
  top: 45%; /* ✅ 정확한 중앙 정렬 */
  transform: translateY(-50%); /* ✅ 세로 중앙 정렬 */
  width: 35px;
  height: 120px;
  background-color: #1f3a68;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
